.card{
    display: flex;
    flex-direction:column;
    width: 20%;
    border: 1px black solid;
    border-radius: 50px;
    padding: 20px;
    height: 420px;
}
.card img{
    border-radius: 20px;
    height: 65%;
}
.Container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}